List and its default functions

In [1]:
lst=[10,29.9,"vilesh",[1,2,3]]

In [2]:
lst.pop()

[1, 2, 3]

In [3]:
lst.extend("ranjith")

In [4]:
print(lst)

[10, 29.9, 'vilesh', 'r', 'a', 'n', 'j', 'i', 't', 'h']

In [5]:
lst.reverse()

In [6]:
print(lst)

['h', 't', 'i', 'j', 'n', 'a', 'r', 'vilesh', 29.9, 10]

In [7]:
lst.index("n")

4

In [10]:
lst.clear()
print(lst)

[]

Dictionary and its default functions

In [44]:
dct={"name":"vilesh", "age":19, "address":"bangalore"}
dct

{'name': 'vilesh', 'age': 19, 'address': 'bangalore'}

In [45]:
dct.popitem()

('address', 'bangalore')

In [46]:
dct.values()

dict_values(['vilesh', 19])

In [51]:
dct.get("age")

19

In [52]:
dct1={"course":"bca"}
dct1

{'course': 'bca'}

In [54]:
dct.update(dct1)

In [55]:
dct

{'name': 'vilesh', 'age': 19, 'course': 'bca'}

In [59]:
dct.fromkeys("n")

{'n': None}

Sets and its default functions

In [64]:
st={1,2,3,"vilesh",109.08}
st1={20,29,45.78,"ranjith"}
print (st,st1)

{1, 2, 3, 109.08, 'vilesh'} {45.78, 20, 29, 'ranjith'}

In [65]:
st.isdisjoint(st1)

True

In [67]:
st.intersection(st1)

set()

In [68]:
st.union(st1)

{1, 109.08, 2, 20, 29, 3, 45.78, 'ranjith', 'vilesh'}

In [71]:
st.add("ranjith")
st

{1, 109.08, 2, 3, 'ranjith', 'vilesh'}

In [73]:
st.difference(st1)

{1, 109.08, 2, 3, 'vilesh'}

Tuples and its default functions

In [75]:
tple=(1,2,9,"pooja")
tple

(1, 2, 9, 'pooja')

In [77]:
tple.count(9)

1

In [78]:
tple.index(2)

1

String and its default functions

In [80]:
string="vileshranjith"
string

'vileshranjith'

In [83]:
str.capitalize()

'Vileshranjith'

In [85]:
str.replace("vileshranjith","vilesh")

'vilesh'

In [86]:
str.isupper()

False

In [87]:
str.count("h")

2

In [88]:
str

'vileshranjith'

In [89]:
str.isascii()

True

The End